﻿<h1>Loan Application Form(Status:New)</h1>
@Html.Label("First Name:")
@Html.TextBox("txt_firstname")<br/>
@Html.Label("Last Name:")
@Html.TextBox("txt_lastname")<br />
@Html.Label("Address:")
@Html.TextBox("txt_address")<br />
@Html.Label("Applicant Income:")
@Html.TextBox("income")<br />
@Html.Label("Loan Amount:")
@Html.TextBox("txt_loanAmount")<br />
@Html.Label("Credit Status:")
@Html.Label("Not Approved")<br />

