﻿@{
    ViewBag.Title = "Index";
}

@*<h2>ING Mortgages Platform</h2>*@

@using (Html.BeginForm("CreateNewApplicationForm", "Loan",FormMethod.Post))
{
<div style="outline: none;">
    <input type="button" id="create_app_btn" value="Create New Application" name="submit" />
    @Html.Label("Search For Application:")
    @Html.TextBox("searchText")
    @Html.Label("Profile Control:")
    @Html.DropDownList("Status", new List<SelectListItem>

     {
        new SelectListItem{ Text="Credit Assessor", Value = "0" },
        new SelectListItem{ Text="Credit Approver", Value = "1" },
        new SelectListItem{ Text="Lending Manager", Value = "2" }
     })
</div>

    //Html.RenderPartial("~/Views/Shared/_CreateLoan.cshtml");
}


